@charset "ISO-8859-1";

#lacaja{
	margin: 0 auto;
	width: 60em;
}

h1 {
	text-align: center;
}
#pequeña{
	float: left;
	width: 16em;
}

#grande{
	float: left;
	width: 44em;
}
#grande ul li{
	list-style-type: none;
	float: left;
	width: 32%;
	padding: 1px;
}

