<div [@routerTransition]>
  <app-page-header [heading]="'Gestion Academia Juanchu'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header text-center ">
              <h1>Bienvenido a la gestion de Profesores</h1>
              <button class="btn btn-primary" (click)="irCrear()">Nuevo Profesor</button>
              <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nif</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Telefono</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of profesores">
                        <th scope="row">{{item.nif}}</th>
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellido1}} {{item.apellido2}}</td>
                        <td>{{item.telefono}}</td>
                        <td><button (click)="modificar(item.id)" class="btn btn-primary">Modificar</button><button (click)="eliminar(item.id)" class="btn btn-primary">Eliminar</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            </div>
        </div>
    </div>
</div>
